@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<NotesWebApp.Models.Note>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <h1>Notes</h1>
    <div>
        @foreach (var note in Model)
        {
            <h1>@note.Id</h1>
            <h1>@note.Subject</h1>
            <h1>@note.Notice</h1>
            <h1>@note.Posted</h1>

            <div>
                <a href="/notes/update?id=@note.Id">Update</a>

                <form asp-controller="Notes" asp-action="Delete">
                    <input type="hidden" name="id" value="@note.Id" />
                    <button type="submit">Delete</button>
                </form>
            </div>
        }
    </div>
</body>
</html>